.frame-canvas {
    position: absolute;
    top: 0;
}

.frame-row {
    position: relative;
    height: 210px;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-horizontal .control-label {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: right;
    font-size: 12px;
}

.preloader {
    position: absolute;
    margin: -100px;
    width: 200%;
    height: 100%;
    z-Index: 1000;
    background: #000;
    opacity: 0.5;
}

    .preloader > img {
        position: absolute;
        width: 40px;
        height: 40px;
        margin-Top: -10px;
        margin-Left: -50px;
        left: 50%;
        top: 50%;
        z-Index: 1000;
    }
