<div class="row">
    <form class="form-horizontal">
        <div class="col-xs-7 col-sm-12">
            <h3 class="text-center" data-bind="text: name, style: { color: color }"></h3>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label" for="manufacturer">Manufacturer:</label>
                <div class="col-xs-8 col-sm-8">
                    <select class="form-control" id="manufacturer" data-bind="options: $parent.manufacturers, optionsText: 'name', value: manufacturer"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label" for="model">Model:</label>
                <div class="col-xs-8 col-sm-8">
                    <select class="form-control" id="model" data-bind="options: models, optionsText: 'name', value: model"></select>
                </div>
            </div>
        </div>
        <div data-bind="with: size" class="col-xs-5 col-sm-12">
            <h3 class="text-center" data-bind="style: { color: $parent.color }">Geometry</h3>
            <dl class="dl-horizontal">
                <dt>Stack:</dt>
                <dd data-bind="text: stackFormatted"></dd>
                <dt>Reach:</dt>
                <dd data-bind="text: reachFormatted"></dd>
            </dl>
        </div>
    </form>
</div>