
<div class="preloader"><img src="~/Content/ajax-loader.gif" /></div>
<h2 class="page-title" data-bind="text: title"></h2>
<div class="frame-row row">
    <canvas id="bike" width="500" height="250" class="frame-canvas">
        <p>Your browser doesn't support canvas.</p>
    </canvas>
</div>
<div class="row">
    <div class="col-md-12" data-bind="with: frame">
        <form class="form-horizontal" role="form">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <h4>Frame:</h4>
                    <div class="form-group">
                        <label class="col-md-1 control-label col-xs-4" for="manufacturer">Brand:</label>
                        <div class="col-md-3 col-xs-8">
                            <select class="form-control" id="manufacturer" data-bind="options: $parent.manufacturers, optionsText: 'name', value: manufacturer"></select>
                        </div>
                        <label class="col-md-1 control-label col-xs-4" for="model">Model:</label>
                        <div class="col-md-3 col-xs-8">
                            <select class="form-control" id="model" data-bind="options: models, optionsText: 'name', value: model"></select>
                        </div>
                        <label class="col-md-1 control-label col-xs-4" for="size">Size:</label>
                        <div class="col-md-3 col-xs-8">
                            <select class="form-control" id="size" data-bind="options: sizes, optionsText: 'size', value: size"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: size" class="col-md-6 col-xs-6">
                <div class="well well-sm">
                    <h4 class=" text-center">
                        Headset Information
                    </h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6" for="capHeight">Cap Height:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" id="capHeight" data-bind="value: headSetTopCap" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Steerer Spacers:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: steeringSpacers" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: size" class="col-md-6 col-xs-6">
                <div class="well well-sm">
                    <h4 class="text-center">Seat Information</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">BB-Seat:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: bbToSeatDistance" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Seattube Angle:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: seatTubeAngle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Seat Length:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: seatLength" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: size" class="col-md-6 col-xs-6">
                <div class="well well-sm">
                    <h4 class="text-center">Stem Information</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Length:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: stemLength" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Angle:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: stemAngle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Steer Clamp Ht.:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: stemThickness" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: size" class="col-md-6 col-xs-6">
                <div class="well well-sm">
                    <h4 class="text-center">Aero Bar Information</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Aero Bar Spacers:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: aeroBarSpacers" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Arm Pad Spacers:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: armPadSpacers" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-6">Arm Pad Offset:</label>
                        <div class="col-md-8 col-xs-6">
                            <input class="form-control" data-bind="value: armPadOffset" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: size" class="row col-xs-12">
                <h4 class="text-center">Calculated Geometry</h4>
                <dl class="dl-horizontal col-xs-6 col-xs-offset-3">
                    <dt>Frame Stack:</dt>
                    <dd data-bind="text: stackFormatted"></dd>
                    <dt>Frame Reach:</dt>
                    <dd data-bind="text: reachFormatted"></dd>
                    <dt>Pad Stack:</dt>
                    <dd data-bind="text: padStack"></dd>
                    <dt>Pad Reach:</dt>
                    <dd data-bind="text: padReach"></dd>
                </dl>
            </div>
        </form>
    </div>
</div>
@section scripts
{
    <script data-main="../scripts/app/fullTriBike" src="~/Scripts/require.js" type="text/javascript"></script>
}
