<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="manufacturer">Manufacturer:</label>
        <div class="col-sm-10">
            <select class="form-control" id="manufacturer" data-bind="options: manufacturers, optionsText: 'name', value: manu"></select>
        </div>
    </div>
</form>
<p>Manufacturer Is Active: <input type="checkbox" data-bind="checked: manu().isActive" /></p>
<div class="btn-group">
    <button class="btn btn-info" data-bind="click: createNewModel, enable: canCreateNewModel"><i class="glyphicon-plus"></i> Create New Model</button>
    <button class="btn btn-info" data-bind="click: cancel, enable: canSave"><i class="fa-undo"></i> Cancel</button>
    <button class="btn btn-info" data-bind="click: save, enable: canSave"><i class="glyphicon-save"></i> Save</button>
    <i class="glyphicon-asterisk" data-bind="visible: hasChanges"></i>
</div>
<div data-bind="foreach: models">
    <legend data-bind="text: name"></legend>
    <div class="form-inline">
        <div class="form-group">
            <label>Model Name:</label>
            <input class="form-control" data-bind="value: name" placeholder="Model Name" />
        </div>
        <button class="btn btn-info" data-bind="click: addNewSize"><i class="glyphicon-plus"></i> Add New Size</button>
    </div>
    @*<table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Approved</th>
                <th>Size</th>
                <th>Sort Order</th>
                <th>Stack</th>
                <th>Reach</th>
                <th>BB Drop</th>
                <th>Head Tube Length</th>
                <th>Head Tube Angle</th>
                <th>Front Center</th>
                <th>Rear Center</th>
                <th>Min. Seat Angle</th>
                <th>Max. Seat Angle</th>
                <th>Wheel_Size</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: sizes">
            <tr>
                <td>
                    <input type="checkbox" class="form-control" data-bind="checked: approved" placeholder="Size" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: size" placeholder="Size" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: sortOrder" placeholder="Sort Order" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: stack" placeholder="Stack" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: reach" placeholder="Reach" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: bottomBracketDrop" placeholder="Reach" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: headTubeLength" placeholder="Head Tube Length" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: headTubeAngle" placeholder="Head Tube Angle" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: frontCenter" placeholder="Front Center" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: rearCenter" placeholder="Rear Center" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: minSeatAngle" placeholder="Min. Seat Angle" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: maxSeatAngle" placeholder="Max. Seat Angle" />
                </td>
                <td>
                    <select class="form-control" data-bind="options: $parents[1].wheelSizes(), optionsText: 'name', optionsValue: 'value', value: wheelSize"></select>
                </td>
            </tr>
        </tbody>
    </table>*@
</div>
@section scripts
{
    <script data-main="../scripts/app/aerobarAdminIndex" src="~/Scripts/require.js" type="text/javascript"></script>
}






