<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="manufacturer">Manufacturer:</label>
        <div class="col-sm-10">
            <select class="form-control" id="manufacturer" data-bind="options: manufacturers, optionsText: 'name', value: manu"></select>
        </div>
    </div>
</form>
<p>Manufacturer Is Active: <input type="checkbox" data-bind="checked: manu().isActive" /></p>
<div class="btn-group">
    <button class="btn btn-info" data-bind="click: createNewModel, enable: canCreateNewModel"><i class="glyphicon-plus"></i> Create New Model</button>
    <button class="btn btn-info" data-bind="click: cancel, enable: canSave"><i class="fa-undo"></i> Cancel</button>
    <button class="btn btn-info" data-bind="click: save, enable: canSave"><i class="glyphicon-save"></i> Save</button>
    <i class="glyphicon-asterisk" data-bind="visible: hasChanges"></i>
</div>
<div data-bind="foreach: models">
    <legend data-bind="text: name"></legend>
    <div class="form-inline">
        <div class="form-group">
            <label>Model Name:</label>
            <input class="form-control" data-bind="value: modelName" placeholder="Model Name" />
        </div>
        <div class="form-group">
            <label>Part Type:</label>
            <select class="form-control" data-bind="options: $parent.aerobarTypes(), optionsText: 'type', value: aeroBarType"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Base Bar Widths</h3>
                <button class="btn" data-bind="click: addNewBaseBarWidth"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: baseBarWidths">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: width" />
                            </div>
                            <div class="col-md-2">mm</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Aerobar Heights</h3>
                <button class="btn" data-bind="click: addNewAerobarHeight"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: aerobarHeights">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: height" />
                            </div>
                            <div class="col-md-2">mm</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Stems</h3>
                <button class="btn" data-bind="click: addNewStem"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: stems">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: length" />
                            </div>
                            <div class="col-md-2">mm</div>
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: angle" />
                            </div>
                            <div class="col-md-2">°</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Pad Widths</h3>
                <button class="btn" data-bind="click: addNewPadWidth"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: padWidths">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: width" />
                            </div>
                            <div class="col-md-2">mm</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Pad Heights</h3>
                <button class="btn" data-bind="click: addNewPadHeight"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: padHeights">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: height" />
                            </div>
                            <div class="col-md-2">mm</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-md-10">Pad Reaches</h3>
                <button class="btn" data-bind="click: addNewPadReach"><i class="glyphicon-plus"></i></button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: padReaches">
                    <li>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control input-sm" data-bind="value: reach" />
                            </div>
                            <div class="col-md-2">mm</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script data-main="../scripts/app/aerobarAdminIndex" src="~/Scripts/require.js" type="text/javascript"></script>
}






